.accordion {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  &__item {
    background: var(--bg-green);
    border-bottom: 1px solid var(--brown-color);
    padding: 24px 0;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item-head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__item-title {
    color: var(--brown-color);
    font-family: var(--font-default);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    transition: color 0.3s ease-in-out;
  }

  &__item-content {
    height: 0;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: padding-top 0.3s ease-in-out;

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .ic-minus {
    display: none;
    animation: fade 0.3s ease-in-out;
  }
}

// Если открыт аккордион
.accordion__item.active .accordion__item-title {
  color: var(--main-color);
}

.accordion__item.active .accordion__item-content {
  height: auto;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  padding-top: 16px;
}

.accordion__item.active .ic-plus {
  transform: rotate(180deg);
}

.accordion__item.active .ic-minus {
  display: inline-block;
}

.accordion__item:not(.active) .ic-plus {
  display: inline-block;
}

.ic-plus,
.ic-minus {
  flex-shrink: 0;

  @media (max-width: 480px) {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 800px) {
  .accordion__item {
    padding: 24px 0;
  }
}

@media (max-width: 600px) {
  .accordion__item {
    padding: 18px 0;
  }

  .accordion__item-title {
    font-size: 18px;
  }

  .accordion .ic-minus,
  .accordion .ic-plus {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  .accordion__item {
    padding: 16px 0;
  }

  .accordion__item-title {
    font-family: var(--font-default);
    font-size: 18px;
  }

  .accordion .ic-minus,
  .accordion .ic-plus {
    width: 24px;
    height: 24px;
  }

  .accordion__item.active .accordion__item-content {
    padding-top: 8px;
  }
}

@media (max-width: 375px) {
  .accordion__item-title {
    font-size: 16px;
  }

  .accordion__item-content {
    font-size: 15px;
  }
  .accordion__item.active .accordion__item-content {
    padding-top: 8px;
  }
}
