:root {
  // --wrapper-width: 1920px;
  --container-width: 1216px;

  --font-default: "Roboto", sans-serif;
  --font-title: "Oranienbaum", sans-serif;

  --bg-gray: #f5f5f5;
  --bg-orange_light: #fcf8f5;
  --main-color: #e4a951;
  --accent-color: #e4a951;
  --brown-color: #543e31;

  --text-color: #5b5b5b;
  --title-color: #543e31;
  --dark-color: #212121;
  --line-color: rgba(0, 0, 0, 0.12);
}
